



:root{
    --colorletratitulo:#19325B;
    --colorbarra: rgb(0,113,102);
    --colorbtns:#19325B;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.titulo{
    color: var(--colorletratitulo);
    font-size: 28px;
    line-height: 3;
    font-weight: 700;
}
.barracolor{
    background-color: var(--colorbarra);
    color: white;
   
}

body{
font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
}
.btn_verde{
    background-color: var(--colorbtns);
    color: white;
     width: 120px;
  
}
.btn_verdes{
    background-color: var(--colorbtns);
    color: white;
  
}
caption{
    color: var(--colorletratitulo);
    font-size: 22px;
    font-weight: 600;
}
h5{
    color: rgb(25, 119, 4);
}
.span_conultaticket{
    font-weight: 700;
}
.categoria_caso{
    background-color: orange;
    font-size: 20px;
    border-radius: 10%;
}

 .new{
    margin: 20px auto;
    background-color: rgba(255, 0, 0, 0.543);
    padding: 10px 5px;
    text-align: center;
 }
 .new p{
    margin-bottom: 0;
    color: white;
 }